

  /*page a propos*/
  img{
      width: 400px;
      height: 200px;
      margin: 5rem auto;
      margin-top: 2px;
      
  }
  p{
      border: #333 solid 1px;
      box-shadow: 60px -16px rgb(40, 44, 44);
      width: 50%;
      text-align: center;
      font-size: 30px;
      font-family: 'Playfair Display', serif;
      padding: 10px;
      margin: 5rem auto;
      
      
  }
  .content{
    display: flex;
    flex-direction: column;
    
  }
  body{
    background-image: linear-gradient(rgba(115, 115, 241, 0.5), rgba(255, 255, 0, 0.5)),
                  url("images/bebe/yeddi11.jpg");
     
      
  }
  h1{
    margin: 5rem auto;
    text-align: center;
    
      font-family: 'Playfair Display', serif;
  }