a{
    color: #333;
    text-decoration: none;  
  }
  
  .box{
      position: relative;
      display: flex;
      overflow: auto;
      padding:0 2rem ;
      justify-content: center;
      align-items: center;
  
  }
  
  img{
      width: 100%;
  }
  
  
  .card h3{
      margin-bottom: 2rem;
  }
  
  .card img{
      height: 300px;
  }
  
  
  
  .btn{
      display:inline-block;
      background: #000;
      color: #fff;
      padding: 0.8rem 1.8rem;
      margin-top: 2rem;
      cursor: pointer;
  }
  
  .btn:hover{
      opacity:0.8;
  }
  
  @media(max-width: 700px){
      .card{
          display: block;
      }
  
  }
  .one{
      -webkit-animation-delay:1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
  }
  .two{
      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      animation-delay: 2s;
  }
  .tree{
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s;
      animation-delay: 3s;
  }
  .four{
      -webkit-animation-delay: 4s;
      -moz-animation-delay: 4s;
      animation-delay: 4s;
  }
  .yeddi{
      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      animation-delay: 2s;
  }
  .animate{
      -webkit-animation-delay: 1s;
      animation-duration: 1s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn{
      
      from{
          opacity: 0;
            
      }
      to{
          opacity: 1;
          
      }
  }
  @keyframes fadeIn{
      from{
          opacity: 0;
           
      }
      to{
          opacity: 1;
         
      }
  }
  .fadeIn{
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
  }
  @-webkit-keyframes fadeUp{
      from{
          opacity: 0;
          -webkit-transform: translate3d(0,100%,0);
          transform: translate3d(0,100%,0);   
      }
      to{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }
  @keyframes fadeUp{
      from{
          opacity: 0;
          -webkit-transform: translate3d(0,100%,0);
          transform: translate3d(0,100%,0);   
      }
      to{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }
  .fadeUp{
      -webkit-animation-name: fadeUp;
      animation-name: fadeUp;
  }
  @-webkit-keyframes fadeDown{
      from{
          opacity: 0;
          -webkit-transform: translate3d(0,-100%,0);
          transform: translate3d(0,-100%,0);   
      }
      to{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }
  @keyframes fadeDown{
      from{
          opacity: 0;
          -webkit-transform: translate3d(0,-100%,0);
          transform: translate3d(0,-100%,0);   
      }
      to{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }
  .fadeDown{
      -webkit-animation-name: fadeDown;
      animation-name: fadeDown;
  }
  @-webkit-keyframes fadeLeft{
      from{
          opacity: 0;
          -webkit-transform: translate3d(-100%,0,0);
          transform: translate3d(-100%,0,0);   
      }
      to{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }
  @keyframes fadeLeft{
      from{
          opacity: 0;
          -webkit-transform: translate3d(-100%,0,0);
          transform: translate3d(-100%,0,0);   
      }
      to{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }
  .fadeLeft{
      -webkit-animation-name: fadeLeft;
      animation-name: fadeLeft;
  }
  .yeddi{
      margin: 5rem 15rem;
      text-align: center;
  }